<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./assets/styles/style.css">
  <title>LANDSCAPES</title>
</head>
<body>

    {{{ body }}}

    <script src="./assets/scripts/lib/jquery-3.3.1.min.js"></script>
    <script src="./assets/scripts/main.bundle.js"></script>
</body>
</html>