  <div class="search__unclick"></div>

  <div class="hero__div"></div>
  <header class="header__main">
    <div class="header__container">
      <h1 class="header__title">Landscapes</h1>
      <form action="#" class="form__search">
        <input type="text" name="s" value="" placeholder="Search" class="form__input">
        <input type="submit" name="" value="&#9906;" class="form__submit">
        <ul class="form__filters">
          <li class="form__filter">
            <input type="checkbox" class="form__input-usuarios" name="usuarios" value="1" checked>
            <label for="usuarios" class="form__label-usuarios"> Usuarios</label>
          </li>
          <li class="form__filter">
            <input type="checkbox" class="form__input-tags" name="tags" value="1" checked>
            <label for="tags" class="form__label-tags"> Hashtags</label>
          </li>
          <li class="form__filter">
            <input type="checkbox" class="form__input-landscapes" name="landscapes" value="1" checked>
            <label for="landscapes" class="form__label-landscapes"> Landscapes</label>
          </li>
        </ul>
      </form>
      <div class="search">
        <div class="search__lists-results">
          <ul class="search__list-users">
            <p class="search__list-name">Usuarios</p>
            <li class="search__result">
              <a href="#" class="search__link">
                <picture class="search__profile">
                  <source srcset="./assets/images/profiles/she.webp" type="image/webp">
                  <source srcset="./assets/images/profiles/she.jpg" media="(prefers-color-scheme: dark)">
                  <img class="search__image-profile" src="./assets/images/profiles/she.jpg" alt="">
                </picture>
                <h6 class="search__full_name">Margot Robbie</h6>
                <object class="buttons">
                  <a href="#" class="search__link-follow">Follow</a>
                </object>
              </a>
            </li>

            <li class="search__result">
              <a href="#" class="search__link">
                <picture class="search__profile">
                  <source srcset="./assets/images/profiles/he.webp" type="image/webp">
                  <source srcset="./assets/images/profiles/he.jpg" media="(prefers-color-scheme: dark)">
                  <img class="search__image-profile" src="./assets/images/profiles/he.jpg" alt="">
                </picture>
                <h6 class="search__full_name">Ryan Reynolds</h6>
                <object class="buttons">
                  <a href="#" class="search__link-follow">Follow</a>
                </object>
              </a>
            </li>

            <p class="search__list-footer"><a href="#" class="search__link-footer">Ver más Usuarios</a></p>
          </ul>

          <ul class="search__list-tags">
            <p class="search__list-name">Hashtags</p>
            <li class="search__result">
              <a href="#" class="search__link">
                <h6 class="search__full_name">#DonFloro</h6>
              </a>
            </li>
            <li class="search__result">
              <a href="#" class="search__link">
                <h6 class="search__full_name">#TaQuelindaLaVista</h6>
              </a>
            </li>

            <p class="search__list-footer"><a href="#" class="search__link-footer">Ver más Hashtags</a></p>
          </ul>

          <ul class="search__list-landscapes">
            <p class="search__list-name--landscapes">Landscapes</p>
            <li class="search__result-image">
              <a href="#" class="search__link--landscape">
                <img class="search__landscape-image" src="./assets/images/squared/01.jpg" alt="">
              </a>
            </li>
            <li class="search__result-image">
              <a href="#" class="search__link--landscape">
                <img class="search__landscape-image" src="./assets/images/squared/02.jpg" alt="">
              </a>
            </li>
            <li class="search__result-image">
              <a href="#" class="search__link--landscape">
                <img class="search__landscape-image" src="./assets/images/squared/03.jpg" alt="">
              </a>
            </li>
            <li class="search__result-image">
              <a href="#" class="search__link--landscape">
                <img class="search__landscape-image" src="./assets/images/squared/04.jpg" alt="">
              </a>
            </li>

            <p class="search__list-footer"><a href="#" class="search__link-footer">Ver más Landscapes</a></p>
          </ul>
        </div>
      </div>
      <p class="header__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quia corrupti praesentium nemo aliquid, eius voluptate vel? Officiis reiciendis at ducimus laboriosam dolor voluptatum, debitis autem dolorem eum error maiores.</p>
    </div>
  </header>

  <ul class="cards">
    
    {{#each file}}

      {{>Card}}
    
    {{/each}}

  </ul>

  <footer class="footer__main"></footer>

  
